* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}
.Gris {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: black;
	border: 7px solid black;
}
.jaune {
	width: 100%;
	height: 100%;
	background-color: red;
	transition: all 100s;
	animation: 5s chargement ease-in-out;
}
.Gris:hover .jaune {
	width: 100%;
}

@keyframes chargement {
	0% {
		width: 0%;
	}

	50% {
		width: 75%;
	}

	75% {
		width: 10%;
	}

	100% {
		width: 100%;
	}
}

.text {
	animation: 5s bouger ease-in-out;
}
@keyframes bouger {
	0% {
		color: brown;
		transform: skew(5.0deg) translateX(500px) scale(2);
	}

	100% {
        color: blue;
        transform: skew(0) translateX(0) ;
	}
}
